<ion-view view-title="Login de usario">
  <ion-content>
    <div class="list">
      <br><br>
      <img src="img/moodle-logo.png" class="center" />
      <br><br>
      <div class="item item-text-wrap" style="text-align:justify" >Proporcione su nombre y contraseña de usuario para iniciar sesión en
      <br>  <strong>{{url}}</strong>.</div>
      <label class="item item-input item-stacked-label">

        <input type="text" placeholder="Nombre_de_usuario" ng-model="credentials.username">
      </label>
      <label class="item item-input item-stacked-label">

        <input type="password" placeholder="Contraseña" ng-model="credentials.password">
      </label>
      <div class="item">
        <button class="button button-block" ng-click="login()">Login!</button>
      </div>
    </div>
  </ion-content>
</ion-view>